QTableWidget{
    border:none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
}

QLineEdit {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}
QMessageBox{
    background-color: white;
    color: black;
}
QPushButton {
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.6);
    border: 1px solid  rgba(255, 255, 255, 0.4);
    color: white;
}

/* 鼠标悬停时的样式 */
QPushButton:hover {
    background-color: rgba(230, 230, 230, 0.7);
    border: 1px solid  rgba(255, 255, 255, 0.4);
    color: white;
}

QPushButton:pressed {
    background-color: rgba(60, 60, 60, 0.3);
    border: 1px solid  rgba(60, 60, 60, 0.5);
    color: white;
}

QLabel{
    color: white;
}

QProgressBar{
        font:9pt;
        border-radius:7px;
        text-align:center;
        border:1px solid #E8EDF2;
        background-color: rgb(255, 255, 255);
        border-color: rgb(180, 180, 180);
}
QProgressBar:chunk{
        border-radius:7px;
        background-color:#1ABC9C;
}

word_frame, class_frame, task_frame{
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid  rgba(200, 200, 200, 1);
    border-radius: 20px;
}

word_frame:hover, class_frame:hover, task_frame:hover{
    background-color: rgba(220, 220, 220, 0.4);
    border: 1px solid  rgba(200, 200, 200, 1);
    border-radius: 20px;
}

word_frame QLabel, class_frame QLabel, task_frame QLabel{
    color: black;
}


word_frame QPushButton{
    background-color: rgba(255, 255, 255, 0.5);
}

QScrollArea {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px;
    border-radius: 20px;
}

#lexicon_label{
    border-radius: 20px;
}

#line{
    background-color: rgba(255, 255, 255, 1);
}

#student_frame, #wordlib_frame{
    border:none;
    border-radius: 20px;
}

#word_contents, #class_contents, #task_contents,#task_view_contents, #class_detail_contents{
    background-color: rgba(127, 127, 200, 0.5);
    border:none;
    border-radius: 20px;
}

#login_frame{
    border-radius: 30px;
}
#acc_frame,#pwd_frame,#chk_frame,#cue_frame, #new_class_cue_frame, #new_class_id_frame, #new_class_name_frame{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid  rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#edt_frame{
    background-color: rgba(200, 200, 200, 0.4);
    border:none;
    border-radius: 20px;
}

/*
    * in login.cpp:
    * ui->login_label->setFixedSize(80, 80);
*/
#login_label{
    border: none;
    border-radius: 40px;
}
/*
    * in login.cpp:
    * ui->close_button->setFixedSize(20, 20);
*/

#close_button{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
#min_button{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}

#close_button:hover{
    background-color: rgba(200, 200, 200, 1);
    border-radius: 10px;
}
#min_button:hover{
    background-color: rgba(200, 200, 200, 1);
    border-radius: 2px;
}
#close_button:pressed{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
#min_button:pressed {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}
#time_label,#hello_label{
    background-color: rgba(128, 0, 0, 0);
    border: none;
    color: white;
}
#deco_label{
    background-color: rgba(128, 0, 0, 0);
    border: 3px solid  rgba(255, 255, 255, 0.5);
    border-radius : 10px;
    color: white;
}

#btn_frame,#btn_frame_2,#btn_frame_3,#btn_frame_4,#btn_frame_5,#ud_frame,teacher_main #info_frame{
    background-color: rgba(255, 255, 255, 0.6);
    border:none;
    border-radius: 20px;
}
#info_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/gerenxinxi.png) 0 0 0 0;
    border : none;
}
#info_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/gerenxinxi.png) 0 0 0 0;
    border : none;
}
#info_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/gerenxinxi.png) 0 0 0 0;
    border : none;
}
#class_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/group.png) 0 0 0 0;
    border : none;
}
#class_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/group.png) 0 0 0 0;
    border : none;
}
#class_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/group.png) 0 0 0 0;
    border : none;
}
#class_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/group.png) 0 0 0 0;
    border : none;
}
#class_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/group.png) 0 0 0 0;
    border : none;
}
#class_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/group.png) 0 0 0 0;
    border : none;
}
#task_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/task.png) 0 0 0 0;
    border : none;
}
#task_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/task.png) 0 0 0 0;
    border : none;
}
#task_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/task.png) 0 0 0 0;
    border : none;
}
#test_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/test.png) 0 0 0 0;
    border : none;
}
#test_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/test.png) 0 0 0 0;
    border : none;
}
#test_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/test.png) 0 0 0 0;
    border : none;
}
#up_btn,#btn_greater {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/arrowup.png) 0 0 0 0;
    border : none;
}
#up_btn:hover,#btn_greater:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/arrowup.png) 0 0 0 0;
    border : none;
}
#up_btn:pressed,#btn_greater:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/arrowup.png) 0 0 0 0;
    border : none;
}
#down_btn,#btn_lower {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/arrowdown.png) 0 0 0 0;
    border : none;
}
#down_btn:hover,#btn_lower:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/arrowdown.png) 0 0 0 0;
    border : none;
}
#down_btn:pressed,#btn_lower:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/arrowdown.png) 0 0 0 0;
    border : none;
}
#battle_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/battle.png) 0 0 0 0;
    border : none;
}
#battle_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/battle.png) 0 0 0 0;
    border : none;
}
#battle_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/battle.png) 0 0 0 0;
    border : none;
}
#setting_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/shezhixian.png) 0 0 0 0;
    border : none;
}
#setting_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/shezhixian.png) 0 0 0 0;
    border : none;
}
#setting_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/shezhixian.png) 0 0 0 0;
    border : none;
}
#sound_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/yinliang.png) 0 0 0 0;
    border : none;
}
#sound_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/yinliang.png) 0 0 0 0;
    border : none;
}
#sound_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/yinliang.png) 0 0 0 0;
    border : none;
}
#div_line{
    background-color: rgba(255,255,255,255);
    border: none;
}
#al_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/arrowleft.png) 0 0 0 0;
    border : none;
}
#al_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/arrowleft.png) 0 0 0 0;
    border : none;
}
#al_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/arrowleft.png) 0 0 0 0;
    border : none;
}
#ar_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/arrowright.png) 0 0 0 0;
    border : none;
}
#ar_btn:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/arrowright.png) 0 0 0 0;
    border : none;
}
#ar_btn:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/arrowright.png) 0 0 0 0;
    border : none;
}
#close_btn, #close_btn_2 {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/close.png) 0 0 0 0;
    border : none;
}
#close_btn:hover,#close_btn_2:hover {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/close.png) 0 0 0 0;
    border : none;
}
#close_btn:pressed,#close_btn_2:pressed {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/close.png) 0 0 0 0;
    border : none;
}
#class_add_btn {
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/add.png) 0 0 0 0;
    border : none;
}
#class_add_btn:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/add.png) 0 0 0 0;
    border : none;
}
#class_add_btn:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/add.png) 0 0 0 0;
    border : none;
}

#btn_add_task,#btn_add_word{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/add.png) 0 0 0 0;
    border : none;
}
#btn_add_task:hover,#btn_add_word:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/add.png) 0 0 0 0;
    border : none;
}
#btn_add_task:pressed,#btn_add_word:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/add.png) 0 0 0 0;
    border : none;
}
#btn_return_to_detail,#btn_create_to_task,#btn_condition_to_task,#btn_content_to_task{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/return.png) 0 0 0 0;
    border : none;
}

#btn_return_to_detail:hover,#btn_create_to_task:hover,#btn_condition_to_task:hover,#btn_content_to_task:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/return.png) 0 0 0 0;
    border : none;
}

#btn_return_to_detail:pressed,#btn_create_to_task:pressed,#btn_condition_to_task:pressed,#btn_content_to_task:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/return.png) 0 0 0 0;
    border : none;
}
#btn_del_word,#btn_del_task,#btn_del_task_2{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/delete.png) 0 0 0 0;
    border : none;
}
#btn_del_word:hover,#btn_del_task:hover,#btn_del_task_2:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/delete.png) 0 0 0 0;
    border : none;
}
#btn_del_word:pressed,#btn_del_task:pressed,#btn_del_task_2:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/delete.png) 0 0 0 0;
    border : none;
}
#btn_condition_to_content{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/word.png) 0 0 0 0;
    border : none;
}
#btn_condition_to_content:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/word.png) 0 0 0 0;
    border : none;
}
#btn_condition_to_content:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/word.png) 0 0 0 0;
    border : none;
}
#btn_content_to_condition{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/black/rank.png) 0 0 0 0;
    border : none;
}
#btn_content_to_condition:hover{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/white/rank.png) 0 0 0 0;
    border : none;
}
#btn_content_to_condition:pressed{
    background-color: none;
    border-image: url(../word-memorize-software/pics/icon/grey/rank.png) 0 0 0 0;
    border : none;
}

#info_frame,#lexicon_frame{
    background-color: rgba(0,0,0,0);
}

#detail_frame{
    background-color: rgba(157, 157, 220, 0.6);
    border: 1px solid  rgba(200, 200, 200, 1);
    border-radius: 20px;
}

#student_display,#wordlib_display{
    background-color: transparent;
}

#eng_frame,#eng_frame_3{
    background-color: rgba(255,255,255,0.3);
    border-radius: 40px;
    border: none;
}

#chn_label,#eng_label{
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    border: none;
}

#label_teacher_main_pic{
    border-image: url(../word-memorize-software/pics/man.png) 0 0 0 0;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
}

/****************2024.5.8******************************/
QTableView {
    background-color: rgba(187, 187, 255, 0.8);
    border-radius: 20px;
    border:none;
}
QHeaderView {
    background-color: transparent;
    border:none;
    min-height: 29px;
}
QTableView QTableCornerButton::section {
    background-color: transparent;
    border: none;
}
QHeaderView::section {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.4);
}
#teacher_frame {
    background-color: transparent;
}

