QLineEdit {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 10pt;
}

QPushButton {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    transition: background-color 0.3s;
}

/* 鼠标悬停时的样式 */
QPushButton:hover {
    background-color: rgba(200, 200, 200, 0.5);
    color: white;
}

QPushButton:pressed {
    background-color: rgba(60, 60, 60, 0.3);
    color: white;
}
#login_frame {
    border-radius:30px;
}
#acc_frame,#pwd_frame{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid  rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#edt_frame{
    background-color: rgba(200, 200, 200, 0.4);
    border:none;
    border-radius: 20px;
}

/*
    * in login.cpp:
    * ui->login_label->setFixedSize(80, 80);
*/
#login_label{
    border: none;
    border-radius: 40px;
}
/*
    * in login.cpp:
    * ui->close_button->setFixedSize(20, 20);
*/

#close_button{
    background-color: rgba(200, 0, 0, 0.8);
    border-radius: 10px;
}
#close_button:hover{
    background-color: rgba(200, 100, 100, 0.9);
    border-radius: 10px;
}
#close_button:pressed {
    background-color: rgba(128, 0, 0, 0.6);
    border-radius: 10px;
}
